header {
  background-color: #243C58;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 999;
}

.divNav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.divNav span {
  font-size: 12px;
}

.divNav img {
  width: 120px;
  height: 113px;
  cursor: pointer;
}

.divButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 1rem;
  margin-right: 10px;
}

.buttonOff {
  color: white;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  width: 100px;
  height: 30px;
  border-radius: 6px;
  transition: 0.3s;
  text-decoration: none;
  background: brown;
}

.buttonOn {
  color: white;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  width: 100px;
  height: 30px;
  border-radius: 6px;
  transition: 0.3s;
  text-decoration: none;
  background: #D9B80B;
}

.divButtons button:hover {
  background-color: #45a049;
}

a {
  text-decoration: none;
  color: inherit;
}

.menuButton {
  display: none;
}

.divAvatar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.avatarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 180px;
  margin-bottom: 12px;
  margin-right: 10px;
  gap: 6px;
}

.avatarContainer p {
  color: white;
}

.avatar {
  color: #ffffff;
  font-weight: 600;
  background-color: #9eb4bd;
  font-size: 1rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border: 1px solid #ffffff;
  padding: 10px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  transition: .3s;
  position: relative;
}

.avatar:hover {
  background-color: gray;
}

.avatar:hover+.editPeril {
  display: block;
}

.editPeril {
  position: absolute;
  right: 4.7rem;
  display: none;
  text-align: right;
  color: black !important;
  font-weight: 600;
  padding: 6px;
  border-radius: 6px;
  background-color: gray;
  transition: .3s;
}

.green {
  background-color: #45a049;
}

.modal {
  display: none;
}

@media screen and (max-width: 480px) {

  .divNav {
    position: relative;
  }

  .divButtons {
    display: none;
  }

  .avatarContainer {
    margin-right: 0;
  }

  .menuButton {
    display: block;
    margin-right: 15px;
    color: white;
    background-color: #243C58;
    border: solid white 1px;
    border-radius: 6px;
    width: 32px;
    height: 25px;
  }

  .menuButton:active {
    background-color: rgb(66, 68, 68);
  }

  .modal {
    display: block;
    width: 100%;
    height: 50px;
    position: absolute;
    background-color: #243C58;
    bottom: -50px;
    transition: .3s;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .modalContainer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}