.benefits{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
    margin: 20px 300px;
    justify-items: stretch;
    justify-content: space-around;
}

.benefit {
    display: flex;
    align-items: center;
    gap: 12px;
}