/* Estilos para el contenedor principal */
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: calc(30vh - 150px); /* Ajusta el valor según la altura de tu encabezado y pie de página */
    /* margin-top: 5rem; */
    padding-top: 200px;
  }

  
/* Estilos para la tabla de productos */
.listadoTable {
    width: 65%;
    border-spacing: 0; /* Espacio entre las filas (ajusta según sea necesario) */
    font-size: 18px;
  }
  
  .listadoTable th {
    background-color: #333; /* Fondo gris oscuro para los títulos */
    color: #fff; /* Texto en color blanco */
    padding: 1em; /* Espacio entre el contenido y los bordes */
    margin: 0;
    text-align: center; /* Centrar el texto horizontalmente */
  }
  
  /* Estilos para las filas de productos */
  .listadoTable tr {
    border-bottom: 200px solid #0074e4; /* Borde inferior azul para destacar las filas */
  }
  
  .listadoTable td {
    padding: 10px; /* Espacio entre el contenido y los bordes de las celdas */
    text-align: center;
  }
  
  .listadoTable tr:hover {
    background-color: #f5f5f5; /* Fondo gris claro al pasar el cursor por las filas */
  }

 /* Estilos para los botones de "Editar" y "Eliminar" en Acciones */
.listadoTable .acciones {
  text-align: right;
}

.listadoTable .acciones button {
  border-radius: 10px; /* Bordes redondeados ligeramente menos pronunciados */
  padding: 0.6rem; /* Espacio alrededor del texto en los botones */
  cursor: pointer;
  margin: 0 5px; /* Espacio entre los botones */
}

.listadoTable .acciones button.editarButton {
  background-color: #8bc34a; /* Fondo verde claro para el botón "Editar" */
  color: #333; /* Texto en color oscuro */
  border: none;
}

.listadoTable .acciones button.eliminarButton {
  background-color: #ff5722; /* Fondo rojo para el botón "Eliminar" */
  color: #fff; /* Texto en color blanco */
  border: none;
}

.listadoTable .acciones button:hover {
  transform: scale(1.05); /* Efecto de escala al pasar el cursor sobre el botón */
}

h2 {
  padding: 1.5%;
  font-size: 2rem;
}